<head>
    <meta name="description" content="This is an example of a meta description. 
          This will often show up in search results." />
</head>

<h1 #h1></h1>
<div class="container-fluid mt-5 hh">
    <div class="row container-fluid animate__animated animate__fadeIn">
        <!-- *ngIf="!loader"-->

        <div class="col-sm-3">
            <!--Gallary-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12" *ngFor="let data of portrait | async">
                        <div class="row" *ngIf="data.image">
                            <a (click)="fullscreen()" name="img" [routerLink]="data._id"><img
                                    src="http://localhost:8080/myimages/{{data.image}}" class="img-fluid"
                                    alt="home image" /></a>
                            <!-- .zz-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-sm-3">
            <!--Gallary-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12" *ngFor="let data of portrait | async">
                        <div class="row" *ngIf="data.image2">
                            <a (click)="fullscreen()" [routerLink]="data._id"><img
                                    src="http://localhost:8080/myimages/{{ data.image2 }}" class="img-fluid"
                                    alt="home image" /></a>
                            <!-- .zzz-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <!--Gallary-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12" *ngFor="let data of portrait | async">
                        <div class="row" *ngIf="data.image3">
                            <a (click)="fullscreen()" [routerLink]="data._id">
                                <img src="http://localhost:8080/myimages/{{ data.image3 }}" class="img-fluid"
                                    alt="home image" /></a>
                            <!-- .zzzz-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <!--Gallary-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12" *ngFor="let data of portrait | async">
                        <div class="row" *ngIf="data.image4">
                            <a (click)="fullscreen()" [routerLink]="data._id">
                                <img src="http://localhost:8080/myimages/{{ data.image4 }}" class="img-fluid"
                                    alt="home image" /></a>
                            <!-- .zzzzz (click)="zzzzz()"-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="aa" (click)="onClick()"><i class="fas fa-arrow-circle-up fa-3x"></i></a>